# Python runtime files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
env/
venv/

# Secrets and credentials
.env
config.py

# Database file
algae.db

# Archived files
archive/

# IDE and editor specific files
.idea/
.vscode/
*.swp
